.top-destinations {
  text-align: center;
  padding: 0px 100px;
}
.pageB-section{
    padding: 80px 0px;
    margin: 0px 160px;
    background-color: white;
}

.heading {
    font-family: volkhov;
  font-weight: bold;
  margin-bottom: 20px;
}

.destinations-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:0px 180px;
}

.destination {
  margin: 20px px;
  background-color: white;
  width: 220px;
  height: 310px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.destination:hover {
  transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.destination-img {
  width: 100%;
  height: 205px;
  object-fit: cover;
}

.destination h3 {
  margin: 0.5rem 0 0.3rem;
  font-size: 1.1rem;
}

.price {
  font-family: poppins;
}

.trip {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding: 0px 20px;
  font-family: poppins;
}
.head{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  font-family: poppins;
  margin-top: 20px;
}