.header{
  margin: 30px 120px;
  background-color: none

}
.brand{
  padding-right: 20%;
}
.border-box {
  border: 2px solid #000;
  padding: 7px;
  border-radius: 4px;
}
.service-text {
  font-size: 14px;
  color: #666;
  padding: 0 10px;
}



